body {
    font-family: Arial;
    color: black;
    margin: 0px;
 }


.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url("../images/beers.jpg");
    -moz-box-shadow: inset 10px 10px 50px #fff;
    -webkit-box-shadow: inset 10px 10px 50px #fff;
    box-shadow: inset 10px 10px 50px #fff;
    color: white;
}

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}


 .left {
    height: 600px;
    width: 40%;
    position: relative;
    overflow-x: hidden;

 }


 .left::before {    
    content: "";
    background-image: url('../images/shutterstock_92369293.jpg');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.6;

}

.leftColContent {
    height: 100%;
    width: 100%;
    position: relative;
    overflow-x: hidden;
}


 .right {
    height: 600px;
    width: 60%;
    position: relative;
    overflow-x: hidden;

    background-image: url('https://image.shutterstock.com/z/stock-photo-blur-coffee-shop-or-cafe-restaurant-with-abstract-bokeh-light-image-background-for-montage-product-364151948.jpg');
    background-repeat: no-repeat;
    background-size: cover;
 }


 #map {
    height: 100%;
  }




 @media screen and (max-width:600px) {
    .header {
      width: 100%;
     }
     .row {
         width: 100%;
     }
    .left {
      width: 100%;

    }
    .right {
        width: 100%;
      }
    }

 /*Start of main */
input {
    position: relative;
    border: inset;
    padding: 10px;
    border-color: darkblue #1e72ec darkblue #1e72ec;
    font-size: 20px;
    color: blueviolet;
  }
  
  i {
    font-size: 50px;
    margin: 15px;
    color: #1e72ec;
  }
  
  #section-a {
    padding:45px;
    background: darkblue;
    color: #fff;
    text-align:center;

}
